﻿<div class="col-md-2"></div>
<table id="tableMargin" class="table-striped col-md-8">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Order Status
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>

    <tr ng-repeat="order in vm.orders">
        <td>
            {{ order.ProductName }}
        </td>
        <td>
            {{ order.OrderStatus }}
        </td>
        <td>
            {{ order.Data }}
        </td>
        <td>
            <button ng-show="order.OrderStatus == 'Pending'" ng-click="vm.confirm(order.Id)" class="btn btn-info" role="button">Confirm</button>
        </td>
    </tr>

</table>

