﻿<!DOCTYPE html>
<html>
<head>
    <title>ElectroShop</title>
    <meta charset="utf-8"/>

    <!-- Style sheets -->
    <link href="Content/bootstrap.css" rel="stylesheet"/>
    <link href="Content/MyStyle.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Library Scripts -->
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-resource.js"></script>
    <script src="Scripts/angular-ui-router.js"></script>

    <!-- Application Script -->
    <script src="app/app.js"></script>

    <!-- Services -->
    <script src="app/common/common.services.js"></script>
    <script src="app/common/currentUser.js"></script>

    <!-- Resources -->
    <script src="app/modules/home/homeResource.js"></script>
    <script src="app/modules/products/productResource.js"></script>
    <script src="app/modules/products/productDetailsResource.js"></script>
    <script src="app/modules/products/productEditResource.js"></script>
    <script src="app/modules/products/productDeleteResource.js"></script>
    <script src="app/modules/users/resources/userResource.js"></script>
    <script src="app/modules/users/resources/userEditResource.js"></script>
    <script src="app/modules/orders/resources/ordersOfUserResource.js"></script>
    <script src="app/modules/users/resources/userDeleteResource.js"></script>
    <script src="app/modules/users/resources/userRegisterResource.js"></script>
    <script src="app/modules/main/userAccountResource.js"></script>
    <script src="app/modules/shoppingCart/resources/shoppingCartResource.js"></script>
    <script src="app/modules/payment/resources/paymentResource.js"></script>
    <script src="app/modules/stocks/resources/stockResource.js"></script>

    <!-- Controllers -->
    <script src="app/modules/home/homeCtrl.js"></script>
    <script src="app/modules/products/productListCtrl.js"></script>
    <script src="app/modules/products/productDetailsCtrl.js"></script>
    <script src="app/modules/products/productEditCtrl.js"></script>
    <script src="app/modules/products/productDeleteCtrl.js"></script>
    <script src="app/modules/users/controllers/userListCtrl.js"></script>
    <script src="app/modules/users/controllers/userEditCtrl.js"></script>
    <script src="app/modules/orders/resources/ordersOfUserResource.js"></script>
    <script src="app/modules/orders/controller/ordersOfUserCtrl.js"></script>
    <script src="app/modules/users/controllers/userDeleteCtrl.js"></script>
    <script src="app/modules/users/controllers/userRegisterCtrl.js"></script>
    <script src="app/modules/main/mainCtrl.js"></script>
    <script src="app/modules/shoppingCart/controllers/shoppingCartCtrl.js"></script>
    <script src="app/modules/payment/controllers/paymentCtrl.js"></script>
    <script src="app/modules/stocks/controllers/stockEditCtrl.js"></script>
    <script src="app/modules/stocks/controllers/stockListCtrl.js"></script>

</head>
<body ng-app="electroShopManagement" ng-controller="MainCtrl as vm">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <a class="navbar-brand" ui-sref="home">ElectroShop</a>
        <div class="navbar-header">

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="home">Home</a></li>
                <li><a ui-sref="productList">Products</a></li>
                <li><a ui-sref="about">About</a></li>
                <li><a ui-sref="contact">Contact</a></li>
                <li ng-show="vm.isLoggedIn && vm.user.MainRole == 'admin'"><a ui-sref="userList">Users</a></li>
                <li ng-show="vm.isLoggedIn && vm.user.MainRole == 'provider'"><a ui-sref="stocks">Stocks</a></li>
            </ul>
            <form ng-hide="vm.isLoggedIn()" class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="username" ng-model="vm.userData.username"/>
                    <input type="password" class="form-control" placeholder="password" ng-model="vm.userData.password"/>
                    <button type="submit" class="btn btn-default" ng-click="vm.login()">Login</button>
                    <a ui-sref="userRegister" class="btn btn-default" role="button">Register</a>
                    <div ng-show="vm.message">{{ vm.message }}</div>
                </div>
            </form>
            <form ng-show="vm.isLoggedIn()" class="navbar-form navbar-right">
                <div class="form-group">
                    <a class="form-control" data-ui-sref="shoppingCart"><img src="logos/addToCartLogo.png" width="20px" height="20px" alt="Shopping cart" class="img-responsive" /></a>
                    <input type="text" class="form-control" style="text-align: center" readonly ng-model="vm.userData.username"/>
                    <button type="submit" class="btn btn-default" ng-click="vm.logout()">Logout</button>
                    <div ng-show="vm.message">{{ vm.message }}</div>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <div ui-view></div>
</div>
</body>
</html>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    $(document).ready(function () {
        initialize();
    });
    function initialize() {
        var mapOptions = {
            center: new google.maps.LatLng(46.7359598, 23.4754005),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
          mapOptions);
        // create a marker
        var latlng = new google.maps.LatLng(46.7359598, 23.4754005);
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: 'My Place'
        });
    }
</script>  
