﻿<div class="col-md-12" style="text-align: center">
    <h2 class="center-block">Choose Payment Method</h2>
</div>
<div class="content-wrapper">
    <div class="col-md-4" id="topPadding50"></div>
    <div class="col-md-4" id="topPadding50">
        <select ng-model="selectedPaymentId">
            <option ng-repeat="payment in vm.payments" value="{{ payment.Id }}">{{ payment.Method }}</option>
        </select>
    </div>
    <div class="col-md-4" id="topPadding50"></div>
</div>

<div class="content-wrapper">
    <div class="col-md-4" id="topPadding10"></div>
    <div class="col-md-4" id="topPadding10">

    </div>
    <div class="col-md-4 col-md-offset-5 finalizeButton">
        <input type="submit" style="padding-left: 80px; padding-right: 80px" value="Finalize" ng-click="vm.finalize(selectedPaymentId)" class="btn btn-success" id="buttonText backPadding" />
        <br />
    </div>
    <div class="col-md-4" id="topPadding50"></div>
</div>