﻿<p id="loginText" class="col-md-12 text-center">
    <a ng-show="vm.profile.isLoggedIn && vm.profile.role =='admin'" data-ui-sref="productEdit({id: 0})" class="btn btn-info" role="button">Create</a>
</p>

<div class="content-wrapper" ng-repeat="product in vm.products">
    <div class="row">

        <div class="col-md-4">
            <a data-ui-sref="productDetails({id: product.Id})"><img ng-if="!product.Image" src="ImagesOfProducts/testImage.png" alt="{{ product.Name }}" height="300" width="300" class="img-responsive center-block"/></a>
            <a data-ui-sref="productDetails({id: product.Id})"><img ng-if="product.Image" src="{{ product.Image }}" alt="{{ product.Name }}" height="300" width="300" class="img-responsive center-block"/></a>
        </div>

        <div class="col-md-4">
            <p id="productName" class="title text-center">{{product.Name}} - {{ product.Brand }} </p>
            <br/>
            <p id="productName" class="title text-center">{{ product.Price }} RON</p>
            <br/>
            <p id="description" class="title text-center">{{ product.Description }} </p>
            <br />
            <p ng-show="product.Rating" id="description" class="title text-center">Ratig: {{ product.Rating }} </p>
            <br />
            <input class="col-lg-offset-5" type="number" min="0" max="5" step="1" value="1" ng-model="rating" />
            <button ng-click="vm.rate(product.Id, rating)" class="btn btn-info" role="button">Rate</button>
            <br />
            <button ng-show="vm.profile.isLoggedIn" ng-click="vm.addProductToCart(product.Id)" class="btn btn-info" role="button">Add to cart</button>
            <hr/>
        </div>

        <div class="col-md-1">
            <a ng-show="vm.profile.isLoggedIn && vm.profile.role =='admin'" data-ui-sref="productEdit({id: product.Id})" class="btn btn-info" role="button">Edit</a>
        </div>
        <div class="col-md-1">
            <a ng-show="vm.profile.isLoggedIn && vm.profile.role =='admin'" data-ui-sref="productDelete({id: product.Id})" class="btn btn-info" role="button">Delete</a>
        </div>
        
    </div>
</div>