﻿<h2>Delete</h2>

<fieldset>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-md-12">
                <a data-ui-sref="details"><img ng-if="!vm.product.Image" src="ImagesOfProducts/testImage.png" alt="{{ vm.product.Name }}" height="300" width="300" class="img-responsive center-block"/></a>
                <a data-ui-sref="details"><img ng-if="vm.product.Image" src="{{ vm.product.Image }}" alt="{{ vm.product.Name }}" height="300" width="300" class="img-responsive center-block"/></a>
            </div>

            <div class="col-md-12">
                <p id="productName" class="title text-center">Name: {{ vm.product.Name }} </p>
                <p id="productName" class="title text-center">Price: {{ vm.product.Price }} RON</p>
                <p id="productName" class="title text-center">Category: {{ vm.product.CategoryName }} </p>
                <p id="productName" class="title text-center">Brand: {{ vm.product.Brand }} </p>
                <p ng-if="vm.product.Rating" id="productName" class="title text-center">Rating: {{ vm.product.Rating }} </p>
                <hr/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 col-md-offset-6">
            <span>
                <button class="btn btn-primary"
                        style="width: 80px; margin-right: 10px"
                        ng-click="vm.submit()"
                        ng-disabled="productForm.$invalid">
                    Delete
                </button>
            </span>
        </div>
    </div>

    <div class="form-group"
         ng-show="vm.message">
        <div class="col-md-6">
            <pre style="font: inherit">{{vm.message }}</pre>
        </div>
    </div>
</fieldset>