﻿<form class="form-horizontal"
      name="productForm"
      novalidate
      ng-controller="ProductEditCtrl as vm">
    <fieldset>
        <div class="form-group"
             ng-class="{'has-error':productForm.inputProductName.$invalid &&
                                    productForm.inputProductName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputProductName">Product Name</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputProductName"
                       name="inputProductName"
                       type="text"
                       placeholder="Product Name (required)"
                       ng-model="vm.product.Name"
                       required
                       ng-minlength="4"
                       ng-maxlength="12"/>
            </div>
            <span class="help-block has-error">
                <span ng-show="productForm.inputProductName.$error.required">
                    Product name is required.
                </span>
                <span ng-show="productForm.inputProductName.$error.minlength">
                    Product name must be at least 4 characters in length.
                </span>
                <span ng-show="productForm.inputProductName.$error.maxlength">
                    Product name cannot exceed 12 characters in length.
                </span>
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':productForm.inputPrice.$invalid &&
                                    productForm.inputPrice.$dirty}">
            <label class="col-md-2 control-label" for="inputPrice">Price</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputPrice"
                       name="inputPrice"
                       type="text"
                       placeholder="Price (required)"
                       ng-model="vm.product.Price"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputPrice.$invalid ">
                Price is required
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':productForm.inputBrand.$invalid &&
                                    productForm.inputBrand.$dirty}">
            <label class="col-md-2 control-label" for="inputBrand">Brand</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputBrand"
                       name="inputBrand"
                       type="text"
                       placeholder="Brand (required)"
                       ng-model="vm.product.Brand"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputBrand.$invalid ">
                Brand is required
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':productForm.inputDescription.$invalid &&
                                    productForm.inputDescription.$dirty}">
            <label class="col-md-2 control-label" for="inputDescription">Description</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputDescription"
                       name="inputDescription"
                       type="text"
                       placeholder="Description (required)"
                       ng-model="vm.product.Description"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputDescription.$invalid ">
                Description is required
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':productForm.inputCategoryId.$invalid &&
                                    productForm.inputCategoryId.$dirty}">
            <label class="col-md-2 control-label" for="inputCategoryId">CategoryId</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputCategoryId"
                       name="inputCategoryId"
                       type="text"
                       placeholder="CategoryId (required)"
                       ng-model="vm.product.CategoryId"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputCategoryId.$invalid ">
                CategoryId is required
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':productForm.inputQuantity.$invalid &&
                                    productForm.inputQuantity.$dirty}">
            <label class="col-md-2 control-label" for="inputQuantity">Quantity</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputQuantity"
                       name="inputQuantity"
                       type="text"
                       placeholder="Quantity (required)"
                       ng-model="vm.product.Quantity"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputQuantity.$invalid ">
                Quantity is required
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':productForm.inputImage.$invalid &&
                                    productForm.inputImage.$dirty}">
            <img ng-if="!vm.product.Image" src="ImagesOfProducts/testImage.png" alt="{{ vm.product.Name }}" height="300" width="300" class="img-responsive center-block" />
            <img src="{{ vm.product.Image }}" alt="{{ vm.product.Name }}" height="300" width="300" class="img-responsive center-block" />
            <label class="col-md-2 control-label" for="inputImage">Image Path</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputImage"
                       name="inputImage"
                       type="text"
                       placeholder="Image Path (required)"
                       ng-model="vm.product.Image"
                       >
            </div>
            <span class="help-block has-error"
                  ng-show="productForm.inputImage.$invalid ">
                Image Path is required
            </span>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width: 80px; margin-right: 10px"
                            ng-click="vm.submit()"
                            ng-disabled="productForm.$invalid">
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width: 70px"
                            ng-click="vm.cancel(productForm)">
                        Cancel
                    </button>
                </span>
            </div>
        </div>

        <div class="form-group"
             ng-show="vm.message">
            <div class="col-md-6">
                <pre style="font: inherit">{{ vm.message }}</pre>
            </div>
        </div>
    </fieldset>
</form>