﻿<fieldset>
    <div class="content-wrapper">
        <div class="row">

            <div class="col-md-12">
                <a data-ui-sref="details"><img ng-if="!vm.product.Image" src="ImagesOfProducts/testImage.png" alt="{{ vm.product.Name }}" height="300" width="300" class="img-responsive center-block" /></a>
                <a data-ui-sref="details"><img ng-if="vm.product.Image" src="{{ vm.product.Image }}" alt="{{ vm.product.Name }}" height="300" width="300" class="img-responsive center-block" /></a>
            </div>

            <div class="col-md-12">
                <p id="productName" class="title text-center">Name: {{ vm.product.Name }} </p>
                <p id="productName" class="title text-center">Price: {{ vm.product.Price }} RON</p>
                <p id="productName" class="title text-center">Category: {{ vm.product.CategoryName }} </p>
                <p id="productName" class="title text-center">Brand: {{ vm.product.Brand }} </p>
                <p ng-if="vm.product.Rating" id="productName" class="title text-center">Rating: {{ vm.product.Rating }} </p>
                <hr />
                <p id="description" class="title text-center">Description: {{ vm.product.Description }} </p>
                <hr />
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12 col-lg-offset-5" style="padding-left: 40px; padding-right: 10px; padding-bottom: 50px">
            <span>
                <button ng-show="vm.profile.isLoggedIn" ng-click="vm.addProductToCart(vm.product.Id)" style="width: 120px; margin-right: 10px" class="btn btn-info" role="button">Add to cart</button>
            </span>
        </div>
    </div>
</fieldset>
