﻿<form class="form-horizontal"
      name="userForm"
      novalidate
      ng-controller="UserEditCtrl as vm">
    <fieldset>
        <div class="form-group"
             ng-class="{'has-error':userForm.inputUsername.$invalid &&
                                    userForm.inputUsername.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputUsername">Username</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputUsername"
                       name="inputUsername"
                       type="text"
                       placeholder="Username (required)"
                       ng-model="vm.user.Username"
                       required
                       ng-minlength="4"
                       ng-maxlength="12" />
            </div>
            <span class="help-block has-error">
                <span ng-show="userForm.inputUsername.$error.required">
                    Product name is required.
                </span>
                <span ng-show="userForm.inputUsername.$error.minlength">
                    Product name must be at least 4 characters in length.
                </span>
                <span ng-show="userForm.inputUsername.$error.maxlength">
                    Product name cannot exceed 12 characters in length.
                </span>
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':userForm.inputPassword.$invalid &&
                                    userForm.inputPassword.$dirty}">
            <label class="col-md-2 control-label" for="inputPassword">Password</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputPassword"
                       name="inputPassword"
                       type="password"
                       placeholder="Password (required)"
                       ng-model="vm.user.Pass"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="userForm.inputPassword.$invalid ">
                Price is required
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':userForm.inputFirstname.$invalid &&
                                    userForm.inputFirstname.$dirty}">
            <label class="col-md-2 control-label" for="inputFirstname">Firstname</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputFirstname"
                       name="inputFirstname"
                       type="text"
                       placeholder="Firstname (required)"
                       ng-model="vm.user.Firstname"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="userForm.inputFirstname.$invalid ">
                Price is required
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':userForm.inputLastname.$invalid &&
                                    userForm.inputLastname.$dirty}">
            <label class="col-md-2 control-label" for="inputLastname">Lastname</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputLastname"
                       name="inputLastname"
                       type="text"
                       placeholder="Lastname (required)"
                       ng-model="vm.user.Lastname"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="userForm.inputLastname.$invalid ">
                Lastname is required
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':userForm.inputMail.$invalid &&
                                    userForm.inputMail.$dirty}">
            <label class="col-md-2 control-label" for="inputMail">Mail</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputMail"
                       name="inputMail"
                       type="text"
                       placeholder="Mail (required)"
                       ng-model="vm.user.Mail"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="userForm.inputMail.$invalid ">
                Mail is required
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':userForm.inputMobile.$invalid &&
                                    userForm.inputMobile.$dirty}">
            <label class="col-md-2 control-label" for="inputMobile">Mobile</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputMobile"
                       name="inputMobile"
                       type="text"
                       placeholder="Mobile (required)"
                       ng-model="vm.user.Mobile"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="userForm.inputMobile.$invalid ">
                Mobile is required
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':userForm.inputCountry.$invalid &&
                                    userForm.inputCountry.$dirty}">
            <label class="col-md-2 control-label" for="inputCountry">Country</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputCountry"
                       name="inputCountry"
                       type="text"
                       placeholder="Country (required)"
                       ng-model="vm.user.Country"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="userForm.inputCountry.$invalid ">
                Country is required
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':userForm.inputCity.$invalid &&
                                    userForm.inputCity.$dirty}">
            <label class="col-md-2 control-label" for="inputCity">City</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputCity"
                       name="inputCity"
                       type="text"
                       placeholder="City (required)"
                       ng-model="vm.user.City"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="userForm.inputCity.$invalid ">
                City is required
            </span>
        </div>

    <div class="form-group"
         ng-class="{'has-error':userForm.inputStreet.$invalid &&
                                    userForm.inputStreet.$dirty}">
        <label class="col-md-2 control-label" for="inputStreet">Street</label>
        <div class="col-md-4">
            <input class="form-control"
                   id="inputStreet"
                   name="inputStreet"
                   type="text"
                   placeholder="Street (required)"
                   ng-model="vm.user.Street"
                   required>
        </div>
        <span class="help-block has-error"
                  ng-show="userForm.inputStreet.$invalid ">
                Street is required
            </span>
    </div>

        <div class="form-group"
             ng-class="{'has-error':userForm.inputNumber.$invalid &&
                                    userForm.inputNumber.$dirty}">
            <label class="col-md-2 control-label" for="inputNumber">Number</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputNumber"
                       name="inputNumber"
                       type="text"
                       placeholder="Number (required)"
                       ng-model="vm.user.Number"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="userForm.inputNumber.$invalid ">
                Number is required
            </span>
        </div>

    <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width: 80px; margin-right: 10px"
                            ng-click="vm.submit()"
                            ng-disabled="userForm.$invalid">
                        Save
                    </button>
                </span>
            </div>
        </div>

        <div class="form-group"
             ng-show="vm.message">
            <div class="col-md-6">
                <pre style="font: inherit">{{ vm.message }}</pre>
            </div>
        </div>
    </fieldset>
</form>