﻿<h2>Delete</h2>

<fieldset>
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <p id="productName" class="title text-center">Username: {{ vm.user.Username }} </p>
                <p id="productName" class="title text-center">Firstname: {{ vm.user.Firstname }} </p>
                <p id="productName" class="title text-center">Lastname: {{ vm.user.Lastname }} </p>
                <p id="productName" class="title text-center">Username: {{ vm.user.Mobile }} </p>
                <p id="productName" class="title text-center">Firstname: {{ vm.user.Mail }} </p>
                <p id="productName" class="title text-center">Lastname: {{ vm.user.Country }} </p>
                <p id="productName" class="title text-center">Username: {{ vm.user.City }} </p>
                <p id="productName" class="title text-center">Firstname: {{ vm.user.Street }} </p>
                <p id="productName" class="title text-center">Lastname: {{ vm.user.Number }} </p>
                <hr />
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12 col-md-offset-6">
            <span>
                <button class="btn btn-primary"
                        style="width: 80px; margin-right: 10px"
                        ng-click="vm.submit()">
                    Delete
                </button>
            </span>
        </div>
    </div>

    <div class="form-group"
         ng-show="vm.message">
        <div class="col-md-6">
            <pre style="font: inherit">{{ vm.message }}</pre>
        </div>
    </div>
</fieldset>