﻿<div class="col-md-2"></div>
<table id="tableMargin" class="table-striped col-md-8">
    <tr>
        <th>
            Mail
        </th>
        <th>
            Firstname
        </th>
        <th>
            Lastname
        </th>
        <th>
            Username
        </th>
        <th>
            Mobile
        </th>
        <th>
            Country
        </th>
        <th>
            City
        </th>
        <th>
            Street
        </th>
        <th>
            Number
        </th>
        <th></th>
        <th></th>
    </tr>

    <tr ng-repeat="user in vm.users">
        <td>
            {{ user.Mail }}
        </td>
        <td>
            {{ user.Firstname }}
        </td>
        <td>
            {{ user.Lastname }}
        </td>
        <td>
            {{ user.Username }}
        </td>
        <td>
            {{ user.Mobile }}
        </td>
        <td>
            {{ user.Country }}
        </td>
        <td>
            {{ user.City }}
        </td>
        <td>
            {{ user.Street }}
        </td>
        <td>
            {{ user.Number }}
        </td>
        <td>
            <a data-ui-sref="userEdit({id: user.Id})" class="btn btn-info" role="button">Edit</a>
        </td>
        <td>
            <a data-ui-sref="userDelete({id: user.Id})" class="btn btn-info" role="button">Delete</a>
        </td>
        <td>
            <a data-ui-sref="ordersOfUser({id: user.Id})" class="btn btn-info" role="button">Orders</a>
        </td>
    </tr>

</table>
