﻿<div class="col-md-2"></div>
<table id="tableMargin" class="table-striped col-md-8">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Order Status
        </th>
        <th>
            Date
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

    <tr ng-repeat="order in vm.orders">
        <td>
            {{ order.ProductName }}
        </td>
        <td>
            {{ order.OrderStatus }}
        </td>
        <td>
            {{ order.Data }}
        </td>
        <td>
            {{ order.Price }}
        </td>
        <td>
            <button class="btn btn-primary"
                    style="width: 80px; margin-right: 10px"
                    ng-click="vm.remove(order.Id)">
                Remove
            </button>
        </td>
    </tr>

</table>
<div class="form-group"
     ng-show="vm.totalPrice">
    <div class="col-md-12">
        <span>
            <pre style="font: inherit">{{ vm.totalPrice }}</pre>
        </span>
    </div>
</div>

<div class="form-group">
    <div class="col-md-12 col-md-offset-6">
        <span>
            <button class="btn btn-primary"
                    style="width: 80px; margin-right: 10px"
                    ng-click="vm.pay()">
                Pay
            </button>
        </span>
    </div>
</div>

<div class="form-group"
     ng-show="vm.message">
    <div class="col-md-6">
        <pre style="font: inherit">{{ vm.message }}</pre>
    </div>
</div>

