﻿<div id="carousel-head" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="carousel-head" data-slide-to="0" class="active"></li>
        <li data-target="carousel-head" data-slide-to="1"></li>
        <li data-target="carousel-head" data-slide-to="2"></li>
        <li data-target="carousel-head" data-slide-to="3"></li>
        <li data-target="carousel-head" data-slide-to="4"></li>
        <li data-target="carousel-head" data-slide-to="5"></li>
    </ol>

    <div class="carousel-inner">
        <div class="item active">
            <img src="img/sliderImg1.jpg" />
        </div>

        <div class="item">
            <img src="img/sliderImg2.jpg" />
        </div>

        <div class="item">
            <img src="img/sliderImg3.jpg" />
        </div>

        <div class="item">
            <img src="img/sliderImg4.jpg" />
        </div>

        <div class="item">
            <img src="img/sliderImg5.jpg" />
        </div>

        <div class="item">
            <img src="img/sliderImg6.jpg" />
        </div>
    </div>

    <a class="left carousel-control" href="#carousel-head" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#carousel-head" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div id="logos" class="content-wrapper">
    <div class="col-md-4 text-center">
        <a data-ui-sref="productList"><img src="logos/Products_logo.png" class="img-responsive center-block" /></a>
        <p id="price" class="text-center">Products</p>
    </div>
    <div class="col-md-4">
        <a data-ui-sref="about"><img src="logos/About_logo.png" class="img-responsive center-block" /></a>
        <p id="price" class="text-center">About Us</p>
    </div>
    <div class="col-md-4">
        <a data-ui-sref="contact"><img src="logos/Contact_logo.png" class="img-responsive center-block" /></a>
        <p id="price" class="text-center">Contact Us</p>
    </div>
</div>

<hr />

<div id="recentProducts" class="col-md-12 text-center"><h1>Recent Products</h1> </div>

<div class="content-wrapper" ng-repeat="product in vm.products">
    <div id="linebreak"></div>

    <div class="col-md-4">
        <a data-ui-sref="productEdit({ id: product.Id })">
            <img ng-if="!product.Image" src="ImagesOfProducts/testImage.png" alt="{{ product.Name }}" height="200" width="250" class="center-block" />
        </a>
        <a data-ui-sref="productDetails({ id: product.Id })">
            <img ng-if="product.Image" src="{{ product.Image }}" alt="{{ product.Name }}" height="200" width="250" class="center-block"/>
        </a>
        <p id="price" class="text-center">
            Price: {{ product.Price }} RON
        </p>
        <hr />
    </div>
</div>