﻿<div id="loginText" class="title col-md-12 text-center">
    <h2>Contact</h2>
</div>

<div class="col-md-12 text-center">
    <div id="map_canvas" style="width: 1170px; height: 300px;">
    </div>
</div>

<br />

<div id="contact" class="content-wrapper text-center">
    <div id="contact" class="col-md-4">
        <p>Phone: </p>
        <p>0745236906</p>
    </div>

    <div id="contact" class="col-md-4">
        <p>Mail: </p>
        <p>czako_zozo@yahoo.com</p>
        <p>czakozoltan08@gmail.com</p>
    </div>

    <div id="contact" class="col-md-4">
        <p>Address: </p>
        <p>Romaina, Cluj, Floresti,stree Porii, nr. 148, ap. 12</p>
    </div>
</div>

