﻿#recentProducts{
    height: 150px;
    padding: 30px;
    font-size: 16px;
}

#carousel-head {
    width: 75%;
    margin: 0 auto;
}

#logos{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

#price{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight:600;
}


#linebreak{
    height: 50px;
}

#aboutDiv{
    font-size: 30px;
    padding: 20px;
}

#aboutText{
    padding:20px;
    word-spacing: 5px;
    text-indent: 5em;
}

#searchBox{
    width: 400px;
}

#imgDiv{
    padding-bottom : 10px;
}

#loginText{
    font-size: 20px;
    margin-bottom: 10px;
}

#contact{
    margin-top: 30px;  
    margin-bottom:30px;
    padding-bottom:30px;
    padding-top: 30px;
    padding-left: 30px; 
    font-size: 20px;
}

#description{
    padding-top: 20px;
    font-size: 15px;
}

#productName{
    font-size: 20px;
    font-weight: 600;
}

#buttonText{
    font-size:15px;
}

#editTitle{
    font-size: 20px;
}

#editText{
    font-size: 15px;
}

#borderSolid{
    border: 1px solid #c8c8c8;
    padding:10px;
    margin: 10px;
}

#tableMargin{
    margin-left:30px;
    margin-bottom:30px;
    padding: 20px;
    border: 3px solid
}

#topPadding50{
    padding-top: 50px;
    padding-left: 155px;
    padding-bottom: 0px;
}

#topPadding10{
    padding-top: 1px;
    padding-left: 10px;
    padding-bottom: 50px;
}

.finalizeButton{
    padding-left: 170px;
}

#buttonText{
    font-size:15px;
}

#backPadding{
    padding: 10px;
}