﻿<h1 class="col-md-12 text-center" id="aboutDiv">About</h1>

<div class="content-wrapper">
    <div class="col-md-1"></div>
    <div id="imgDiv" class="col-md-5">
        <img src="app/modules/about/img/Electro_Shop.jpg" />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h3>
            My name is Czako Zoltan, I'm a 3rd year student at the Technical University of Cluj-Napoca.
            I'm learning Computer Science. My hobbies are football, volley, ping-pong, swimming, reading, boling and billiard.
            I also like to listen to music and to dance.
        </h3>
    </div>

</div>