﻿<div class="col-md-2"></div>
<table id="tableMargin" class="table-striped col-md-8">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Brand
        </th>
        <th>
            Category Name
        </th>
        <th>
            Quantity
        </th>
        <th></th>
    </tr>

    <tr ng-repeat="stock in vm.stocks">
        <td>
            {{ stock.ProductName }}
        </td>
        <td>
            {{ stock.Brand }}
        </td>
        <td>
            {{ stock.CategoryName }}
        </td>
        <td>
            {{ stock.Cantity }}
        </td>
        <td>
            <button data-ui-sref="stockEdit({ id: stock.Id })" class="btn btn-info" role="button">Edit</button>
        </td>
    </tr>

</table>

