﻿<form class="form-horizontal"
      name="stockForm"
      novalidate
      ng-controller="StockEditCtrl as vm">
    <fieldset>
        <div class="form-group"
             ng-class="{'has-error':stockForm.inputQuantity.$invalid &&
                                    stockForm.inputQuantity.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputQuantity">Quantity</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputQuantity"
                       name="inputQuantity"
                       type="number"
                       placeholder="Quantity (required)"
                       ng-model="vm.stock.Cantity"
                       required
                       min="0"
                       step="1" />
            </div>
            <span class="help-block has-error">
                <span ng-show="userForm.inputQuantity.$error.required">
                    Quantity is required.
                </span>
            </span>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width: 80px; margin-right: 10px"
                            ng-click="vm.submit()"
                            ng-disabled="userForm.$invalid">
                        Save
                    </button>
                </span>
            </div>
        </div>

        <div class="form-group"
             ng-show="vm.message">
            <div class="col-md-6">
                <pre style="font: inherit">{{ vm.message }}</pre>
            </div>
        </div>
    </fieldset>
</form>